.AppB {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}

@media (max-width: 850px) {
  .AppB {
    display: block;
  }
  div {
    margin: 20px;
  }

  .Image {
    margin-right: auto;
    margin-left: 0;
  }
}
