.Gallerie {
  display: flex;
}
@media (max-width: 850px) {
  .Gallerie {
    display: block;
    justify-content: center;
  }
  button {
    margin-left: auto;
    margin-right: auto;
  }
}
button {
  cursor: pointer;
  border: none;
  font-size: 40px;
}
