.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

nav {
  justify-content: center;
}
.title {
  color: gray;
  text-shadow: 4px 4px 5px gray;
  font-size: 40px;
}

ul {
  background-color: transparent;
  display: flex;
}

ul li {
  list-style: none;
  margin: 1rem;
}
.MenuIcon {
  display: none;
}
.buttonNav{
  font-size: 20px;
  color: gray;
}
.buttonNav:hover{
  color: white;
}

@media (max-width: 850px) {
  ul {
    display: none;
  }
  .MenuIcon {
    display: flex;
  }
}
