.title {
  cursor: pointer;
  font-size: 20px;
  color: gray;
  border: 2px solid gray;
  border-radius: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.MenuToggle {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

@media (max-width: 850px) {
  .MenuToggle {
    display: block;
  }
}
.Icon {
  font-size: 30px;
  color: gray;
  margin-left: auto;
  margin-right: auto;
}
