.PageDesc {
  margin-top: 2rem;
  display: block;
  width: 280px;
}

.titlepage {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  border: 2px solid gray;
  border-radius: 20px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}
