* {
  margin: 0;
  padding: 0;
  background-color: rgba(4, 4, 4, 255);
  color: white;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: darkslategrey;
  font-weight: bold;
}

a:hover {
  color: whitesmoke;
}
h {
  text-align: center;
  display: block;
}

h1 {
  font-family: "Comforter", cursive;
  color: darkslategrey;
  font-size: 45px;
}

h3,
h5 {
  color: darkslategrey;
  list-style: none;
  box-shadow: 2px 2px 10px darkslategrey;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

h9 {
  font-family: "Syne Tactile", cursive;
  color: darkslategrey;
  font-size: 20px;
}
p {
  text-align: center;
  font-size: clamp(1rem, 3vw + 1rem, 5rem);
  color: gray;
  font-weight: 900;
}

p1 {
  display: block;
  color: darkslategrey;
  box-shadow: 2px 2px 10px darkslategrey;
  text-align: center;
  line-height: 45px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
